<!--
  Generated template for the AboutScantechPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar style="height:70px;">
     <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>About Us</ion-title>
  </ion-navbar>

</ion-header>


<ion-content style="background-color:#cccccc;">
 
                       <div>
                  <ion-item tappable  (click)="toggleDetails3()">
                    <!-- <ion-icon  color="gray" [name]="d.iconLeft" item-left></ion-icon> -->
                   
                      <span style="font-size:15px;color:#777;float:left;">Our Story</span>
                    <ion-icon item-right style="color:#f00f00" name="{{icon3}}"></ion-icon>
                  </ion-item>
                      <div class="sub-menu"  *ngIf="showDetails3==true" >
                            <ion-item   >
        
                               <!-- <img [src]="item.img" style="height:14px;width:14px;"> -->
                                <span style="font-size: 11px;font-weight: 100;;color:black;float:left;white-space: normal;text-align:justify;">
                                 Scantech is worldwide known for it’s technical innovations in various fields of custom laser applications. We are very well known for our customer-centric approach, where our machines are tailor made as per client’s specification for quality production & cost effectiveness. Apart from Custom Laser Machine Manufacturing we also offer wide range of machines like laser marking machines, laser welding machine, laser-drilling machine, laser cutting machine specific to clients requirement.<br><br>
                                 Being one of the reputed global laser machine manufacturing company, we helped in the growth of many industries including electrical, pharmaceutical, textile, jewellery, automobile and many other heavy engineering industries. Customers are guaranteed of getting highest quality laser products from us because of our experience, core competency and cost effectiveness. Scantech was established with the initiative of meeting the profile cutting demands of the sheet metal users and today we are serving the purpose all the major industrial sectors mentioned above including fabrication job shops. We use advanced laser technology and best sourced materials from world renowned companies to ensure durability, reliability and high efficiency of products.<br><br>
                                 Scantech is closely associated with many Laser Job Shops. Apart from serving our global clients with the latest laser products and applications, we also provide support services in hardware, software, spares & design. It is quite evident that we focus mainly on customer satisfaction beginning from the development of the product to timely delivery.
                                </span>            
                            </ion-item>
                      </div>
                </div> 
                    <div>
                  <ion-item tappable  (click)="toggleDetails1()">
                    <!-- <ion-icon  color="gray" [name]="d.iconLeft" item-left></ion-icon> -->
                   
                      <span style="font-size:15px;color:#777;float:left;">Vision & Mission</span>
                    <ion-icon item-right style="color:#f00f00" name="{{icon1}}"></ion-icon>
                  </ion-item>
                      <div class="sub-menu"  *ngIf="showDetails1==true" >
                            <ion-item   >
        
                               <!-- <img [src]="item.img" style="height:14px;width:14px;"> -->
                                <span style="font-size: 11px;font-weight: 100;;color:black;float:left;white-space: normal;text-align:justify;">
                                 <b>Our Vision:</b><br><br>
                                 To be recognized & respected globally as the most experienced & competent Laser System Manufacturing Company.
                                 <br><br>
                                 <b>Our Mission : </b><br><br>
                                 To develop, manufacture & supply customized laser solutions with the help of our unbeatable in-house R&D team while maintaining high quality, standards & safety.
                                </span>            
                            </ion-item>
                      </div>
                </div> 
                    <div>
                  <ion-item tappable  (click)="toggleDetails4()">
                    <!-- <ion-icon  color="gray" [name]="d.iconLeft" item-left></ion-icon> -->
                   
                      <span style="font-size:15px;color:#777;float:left;">We Believe</span>
                    <ion-icon item-right style="color:#f00f00" name="{{icon4}}"></ion-icon>
                  </ion-item>
                      <div class="sub-menu"  *ngIf="showDetails4==true" >
                            <ion-item   >
        
                               <!-- <img [src]="item.img" style="height:14px;width:14px;"> -->
                                <span style="font-size: 11px;font-weight: 100;;color:black;float:left;white-space: normal;text-align:justify;">
                                We accept and comprehend that if innovation takes exertion and devours time, its quality is altogether decreased. Laser to us is not what you see, but rather what you dont see. Our answers are unpretentious yet effective, creating an impression with its effortlessness and solace. Customers are regularly amazed by what is conceivable today. We understand that conventional machines can once in a while bring down your creation and so we endeavor to mix innovation in your generation such that the trustworthiness of your vision is kept up while conveying ideal execution. We firmly believe in offering the best solutions, ethical guidance, proficient training and bother free service.
                                </span>            
                            </ion-item>
                      </div>
                </div> 
                    
                     <div>
                  <ion-item tappable  (click)="toggleDetails5()">
                    <!-- <ion-icon  color="gray" [name]="d.iconLeft" item-left></ion-icon> -->
                   
                      <span style="font-size:15px;color:#777;float:left;">Awards & Achievements</span>
                    <ion-icon item-right style="color:#f00f00" name="{{icon5}}"></ion-icon>
                  </ion-item>
                      <div class="sub-menu"  *ngIf="showDetails5==true" >
                            <ion-item   >
        
                               <!-- <img [src]="item.img" style="height:14px;width:14px;"> -->
                                <span style="font-size: 11px;font-weight: 100;;color:black;float:left;white-space: normal;text-align:justify;">
                               •	The Marquis Who’s Who Certificate for Science & Engineering in the year 1992-1993 to Mr. Naren Shikarkhane<br><br>
                               •	10 Patents for various types of Laser Machines<br><br>
                               •	First indigenous laser head in India<br><br>
                               •	First indigenous OROS system in India<br><br>
                               •	First indigenous laser marking on the fly system in India<br><br>
                               •	First to introduce fiber laser marking machine in India<br><br>
                               •	G.S. Parkhe Industrial Merit Prize winner 1998 for indigenous developing laser system <br><br>
                               •	First laser hardening system in India<br><br>
                               •	Fastest laser cutting speed<br><br>
                               •	Highest accuracy micro cutting<br><br>
                               •	Finest laser welding<br><br>
                               •	Most cost effective solutions<br><br>
                               •	Processed 500+ laser applications<br><br>
                               •	First to introduce high speed laser masking
                                </span>            
                            </ion-item>
                      </div>
                </div>
                     <div>
                  <ion-item tappable  (click)="toggleDetails6()">
                    <!-- <ion-icon  color="gray" [name]="d.iconLeft" item-left></ion-icon> -->
                   
                      <span style="font-size:15px;color:#777;float:left;">Research & Development</span>
                    <ion-icon item-right style="color:#f00f00" name="{{icon6}}"></ion-icon>
                  </ion-item>
                      <div class="sub-menu"  *ngIf="showDetails6==true" >
                            <ion-item   >
        
                               <!-- <img [src]="item.img" style="height:14px;width:14px;"> -->
                                <span style="font-size: 11px;font-weight: 100;;color:black;float:left;white-space: normal;text-align:justify;">
                               Our worldwide research team incorporate more than 6 center specialists and group of 15 individuals to influence information crosswise over business sector. With R&D focuses in India and United States, it helps us comprehend the business sector challenges from west to east which makes us stay at the cutting edge of rising client needs and arrangements and convey imperative new learning to you. <br><br>
                               Our development crosswise over more than 500 applications over 13 laser processes and different materials helps our client spare time and cost of reinventing which helps you move your product to market all the more rapidly. This makes Scantech emerge of business sector rivalry. <br><br>
                               We give complete fulfillment to our potential clients by guaranteeing security, unwavering quality and durability of the products. The nature of the products before conveying it to the customers are completely checked and tried by our group of experts. With a specific end goal to make and hold the name and culture of our organization, we improve products and procedures by means of consistent work of Research and Development.<br><br>
                               Attributable to our aptitude furthermore by utilizing front line advances, we are fit for outlining and assembling tweaked laser welding, laser marking and laser cutting machines. All these laser machines have been picking up notoriety amongst the procedure of sheet metal fabricating applications.<br><br>
                               
                                </span>            
                            </ion-item>
                      </div>
                </div>
                      <div>
                  <ion-item tappable  (click)="toggleDetails7()">
                    <!-- <ion-icon  color="gray" [name]="d.iconLeft" item-left></ion-icon> -->
                   
                      <span style="font-size:15px;color:#777;float:left;">Patents</span>
                    <ion-icon item-right style="color:#f00f00" name="{{icon7}}"></ion-icon>
                  </ion-item>
                      <div class="sub-menu"  *ngIf="showDetails7==true" >
                            <ion-item   >
        
                               <!-- <img [src]="item.img" style="height:14px;width:14px;"> -->
                                <span style="font-size: 11px;font-weight: 100;;color:black;float:left;white-space: normal;text-align:justify;">
                               •	Laser Head Design for Solid State Lasers <br><br>
                               •	Laser Beam Enabled Diamond Cutting Apparatus<br><br>
                               •	Laser System for Drilling Controlled Release Tablets<br><br>
                               •	Apparatus & Methods for Scribing, Grooving & Cutting two sides of material simultaneously using laser<br><br>
                               •	Optical Scissor for Cutting & Welding of Wire<br><br>
                               •	Real Time Laser Fire Sensor<br><br>
                               •	High Speed Laser Drilling System<br><br>
                                </span>            
                            </ion-item>
                      </div>
                </div>
                    <div>
                  <ion-item tappable  (click)="toggleDetails8()">
                    <!-- <ion-icon  color="gray" [name]="d.iconLeft" item-left></ion-icon> -->
                   
                      <span style="font-size:15px;color:#777;float:left;">CSR Activitites</span>
                    <ion-icon item-right style="color:#f00f00" name="{{icon8}}"></ion-icon>
                  </ion-item>
                      <div class="sub-menu"  *ngIf="showDetails8==true" >
                            <ion-item   >
        
                               <!-- <img [src]="item.img" style="height:14px;width:14px;"> -->
                                <span style="font-size: 11px;font-weight: 100;;color:black;float:left;white-space: normal;text-align:justify;">
                               Scantech Laser Pvt. Ltd. firmly believes in giving back to the society and environment. CSR (Corporate Social Responsibility) has been a part of Scantech since its establishment back in 1991. Mr. G.V Ramani (Financial Director) is the strong believer of the term, "give back to the society and environment which is being earned by them".<br><br>
                               Further they explain that for any establishment to be successful social support is vital. One cannot be a spike of prosperity on the sea of poverty. In any society there is one section that makes huge profits and richer than the rest which leads to disparity.".<br><br>
                               Beyond conducting business consciously and responsibly, we support our communities through many environmental and social initiatives. We support education to poor and deprived section of the society, thus ensuring their upliftment socially and economically in the society. Scantech group support various NGOs working for womens and childrens in society. In addition, we had organised blood donation camps and free medical check up for the employees and needy people. <br><br>
                               Our environmental initiatives include building greener facilities and planting trees in and around our different facilities. We believe in development of our employees (socially and economically) in proportion to development of our business. Scantechs policy is to provide livelihood to every employee instead of money. <br><br>
                              
                                </span>            
                            </ion-item>
                      </div>
                </div>
                     <div>
                  <ion-item tappable  (click)="toggleDetails9()">
                    <!-- <ion-icon  color="gray" [name]="d.iconLeft" item-left></ion-icon> -->
                   
                      <span style="font-size:15px;color:#777;float:left;">Our Standards</span>
                    <ion-icon item-right style="color:#f00f00" name="{{icon9}}"></ion-icon>
                  </ion-item>
                      <div class="sub-menu"  *ngIf="showDetails9==true" >
                            <ion-item   >
        
                               <!-- <img [src]="item.img" style="height:14px;width:14px;"> -->
                                <span style="font-size: 11px;font-weight: 100;;color:black;float:left;white-space: normal;text-align:justify;">
                               ISO 9001:2008 - Quality Management.<br><br>
                               CE - CE Certified.<br><br>
                               CFR 21 Compliant. <br><br>
                               Gomenz - Safety Standards. <br><br>
                              
                                </span>            
                            </ion-item>
                      </div>
                </div>
                     

                 <div>
                  <ion-item tappable  (click)="toggleDetails2()">
                    <!-- <ion-icon  color="gray" [name]="d.iconLeft" item-left></ion-icon> -->
                   
                      <span style="font-size:15px;color:#777;float:left;">Our Team</span>
                    <ion-icon item-right style="color:#f00f00" name="{{icon2}}"></ion-icon>
                  </ion-item>
                      <div class="sub-menu"  *ngIf="showDetails2==true" >
                            <ion-item   >
        
                               <!-- <img [src]="item.img" style="height:14px;width:14px;"> -->
                                <span style="font-size: 11px;font-weight: 100;;color:black;float:left;white-space: normal;text-align:justify;">
                                <b> GV Ramani</b><br><br>
                                 At a tender age of 15, Gordhan Vallabhbhai Ramani (GV Ramani) started his career in the Diamond manufacturing industry. The year 1986 saw him establish his own Diamond Manufacturing Facility with a small team of 4 members. At the turn of the millennium by year 2000 the company grew to be a 5.8 Bn dollar giant and had an employed strength of 2000 people. Along with several offices across the globe, the company has now shifted its manufacturing facility to Moscow, Russia to gain logistical advantage as the source diamonds are tendered in Alrosa. With diamond manufacturing being at the core of his businesses, Mr. GV Ramani, has a diversified business portfolio which includes verticals like Industrial Laser Manufacturing, Marble & Granite Facility, Construction & Property and more.<br><br>
                                 His interest and contribution in Scantech Laser’s (SLPL) Research on Laser Technology over the years has resulted in over 500 types of innovative laser applications in the industry.<br><br>
                                 <b> Naren Shikarkhane</b><br><br>
                                 Mr. Naren Shikarkhane is a dynamic person. He has created SCANTECH in the year 1991, a very competitive unit in the field of laser technology which is finding extensive use in diverse fields ranging from automobile to medical to electronics, to semiconductors, to diamond & jewellery to fabrication etc. The company has secured ISO certification for manufacturing SCANTECH laser marking machine.<br><br>
                                 The company has manufacturing facilities for laser machines and systems at Mahape while job shops are located at Deonar, Vikhroli & Mahape.<br>
                                 It would be very uncommon to walk in to the director’s office and not find him at his desk, pouring over figures, files, reports etc. he is constantly busy handling inquiries on his mobile and also smoking cigarette simultaneously. But, before one can state the obvious he chips in with a smile as though anticipating what is coming. He takes stock of what happened during the day putting the next day in perspective. <br><br>
                                 With a razor sharp mind, our technical director brings with him rich and versatile background of experience of well over 17 yrs. at BARC and also his never ending appetite for gaining knowledge and recognition by attending many national seminars and International Trade Exhibitions and also putting co’s stall at the trade exhibitions.<br><br>
                                 <br><br>
                                 <b>Nilesh Ramani</b><br><br>
                                 With a career in Diamond & Jewelry Industry for 6 years and having worked in offices internationally, Mr. Nilesh Ramani joined Scantech Laser in year 2009. After extensive shop floor training in learning practical applications involving lasers, he has combined his industry experience and learning to educate & advise clients on ways to enhance productivity & reduce cost through effective application of laser processes.<br><br>
                                 Under his progressive thought process and able guidance, Scantech has expanded its operations on a global scale and the recent addition of our Research & Development Center in USA as well as new tie- ups and ventures are just but a few more feathers in Mr. Nilesh Ramani's cap.<br><br>
                                 <b>Mitul Metawala</b><br><br>
                                 Mr. Mitul Metawala is a young dynamic & insightful leader who joined as Director Marcom (Marketing & Communications Department) at Scantech Laser Pvt. Ltd. Mr. Metawala had started his professional career in the Diamond & Gem/Jewelery Industry. With his MS in Marketing, he worked on Linus/FOSS technology and alongside, tutored at Engineering colleges to promote good IT education. He worked for more than half a decade to develop the GNU group's brand and awareness campaign.<br><br>
                                 As a Director at A Human Info Digital Media company he assisted the company digitize its operations and served the clients on the new digital platform with utmost security & reliability. He introduced Google G suit (previously known as Google Apps for Business) to the Indian ceramic industry and revolutionized the digital presence of the Indian Tiles/Ceramic Industry and created a brand THE TILES OF INDIA, which now has a global presence in over 16 countries and counting.<br><br>
                                 His current goal is to make Scantech Laser a globally active brand on a digital platform, where all the efforts are being carried out phase wise and the first phase of Company Digital Brand Identity is just completed. Rest 2 stages involves, global presence & new product innovation with service on demand.<br><br>
                                  <b>Shiva Gadag</b><br><br>
                                  Dr. Shiva Gadag earned his MSc (Engg) and PhD in Mechanical Engineering from the Indian Institute of Science, a premier research institute for advanced study and research He obtained Ph.D. in 1992 for a thesis on Laser Processing of Ductile iron, the first thesis in the area of high power laser materials processing from the faculty of engineering of INDIAN INSTITUTE OF SCIENCE. In 1993 he was invited by KFA Julich on behalf of the German Government to work as a Visiting Scientist with Professor Barry Mordike at the TU Clausthal under the Indo-German bilateral research collaboration on Laser Materials Processing. He presented his research finding on laser alloying and cladding of copper at the NATO Advanced Study Institute held in Sesimbra, Portugal in 1994. After his return from Germany, worked as the Indian Institute of Science Research Associate from 1995-97.<br><br>
                                  hen he has worked as a Project Scientist at the University of California, San Diego from 1997-00, Research Associate in UC Boulder (2001-03), Old Dominion University (2004-05) Purdue University (2005-06) and University of Central Florida in Orlando (2012-13) and served as a Research Engineer TATA Consultancy Services USA (2014-2015)

He has worked in various areas of the laser materials processing - laser based melting and transformation hardening, solid state nitriding, Nano sintering, Micro alloying, cladding, thin film deposition and laser Synthesis of nanostructures. He has used high power lasers - CO2 CW, Direct Diode Laser-HPDL, Fiber coupled Diode Laser, Nd:YAG and Nd:YVO4 repetitively pulsed and Q-switched diode pumped solid state DPSS lasers for his research work.<br><br>
Recently he has worked as research assistant at Southern Methodist University from 2008-2011, in the area of laser micromachining of Si and its Transparent Dielectrics - glass and quartz materials with multi-wavelengths (1064, 532,355 and 266nm), nanoshort (11 ns), repetitive frequency (16 kHz) Q-switched Spectra Physics lasers. He earned another PhD on Laser micromachining of silicon and glass with short pulsed lasers from Southern Methodist University. He has invented the mechanism of micromachining and formulated theory of laser ablation of single crystal Silicon using ultrashort and ultrafast IR lasers pulse and numerically simulated and experimentally proved the ablation of silicon.
                                </span>            
                            </ion-item>
                      </div>
                </div> 
</ion-content>
